#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text-pri);
  scrollbar-color: var(--color-text-acc) var(--color-background);
  scrollbar-width: thin;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: -0.012em;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}