---
kind: ConfigMap
apiVersion: v1
metadata:
  name: startpunkt-config
  annotations:
    app.openshift.io/vcs-uri: https://github.com/ullbergm/startpunkt-ci-test
    app.quarkus.io/quarkus-version: 3.12.3
    app.quarkus.io/vcs-uri: https://github.com/ullbergm/startpunkt-ci-test.git
  labels:
    app.kubernetes.io/name: startpunkt
    app.kubernetes.io/part-of: startpunkt
    app.kubernetes.io/managed-by: quarkus
    app.openshift.io/runtime: quarkus
data:
  application.yaml: |-
    startpunkt:
      # Default protocol for links if not specified in the resource
      defaultProtocol: "http"

      # Default language for the web UI
      defaultLanguage: "en-US"

      # Namespace selector determines which namespaces to look for resources in
      namespaceSelector:
        any: true  # If true, look for resources in all namespaces
        # matchNames:  # Uncomment and specify namespace names to limit the search to specific namespaces
        #   - default
        #   - startpunkt

      # Kubernetes integration, read ingress resources
      ingress:
        enabled: true  # If true, enable the reading of ingress resources
        onlyAnnotated: false  # Only consider resources with the annotation 'startpunkt.ullberg.us/enabled: "true"'

      # OpenShift integration, read OpenShift Routes
      openshift:
        enabled: true  # If true, enable the reading of OpenShift Route resources
        onlyAnnotated: false  # Only consider resources with the annotation 'startpunkt.ullberg.us/enabled: "true"'

      # Hajimari integration, read Hajimari Applications and Bookmarks
      hajimari:
        enabled: true  # If true, enable the reading of Hajimari Applications and Bookmarks

      # Istio Virtual Service integration, read Istio VirtualService resources
      istio:
        virtualservice:
          enabled: true  # If true, enable the reading of Hajimari Applications and Bookmarks
          onlyAnnotated: false  # Only consider resources with the annotation 'startpunkt.ullberg.us/enabled: "true"'

      # Web ui configuration
      web:
        title: "Startpunkt"  # Title of the web UI
        githubLink:
          enabled: true  # If true, enable the GitHub link in the web UI
        checkForUpdates: true  # If true, check for updates and show a notification in the web UI
        theme:
          light:
            bodyBgColor: "#F8F6F1"
            bodyColor: "#696969"
            emphasisColor: "#000000"
            textPrimaryColor: "#4C432E"
            textAccentColor: "#AA9A73"
          dark:
            bodyBgColor: "#232530"
            bodyColor: "#696969"
            emphasisColor: "#FAB795"
            textPrimaryColor: "#FAB795"
            textAccentColor: "#E95678"
