---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "startpunkt.name" . }}-role
  labels:
{{ include "startpunkt.labels.chart" . | indent 4 }}
rules:
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - ''
      - extensions
      - networking.k8s.io
      - discovery.k8s.io
    resources:
      - ingresses
      - namespaces
      - endpointslices
      - routes
      - nodes
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - hajimari.io
    resources:
      - applications
      - bookmarks
  - verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
    apiGroups:
      - startpunkt.ullberg.us
    resources:
      - applications
      - bookmarks
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - gateway.networking.k8s.io
    resources:
      - httproutes
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "startpunkt.name" . }}-rolebinding
  labels:
    app.kubernetes.io/name: {{ template "startpunkt.name" . }}
    app.kubernetes.io/version: {{ .Values.startpunkt.labels.version }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "startpunkt.name" . }}-role
subjects:
- kind: ServiceAccount
  name: {{ template "startpunkt.name" . }}
  namespace: {{.Release.Namespace}}
