name: Clean up GHCR

on:
  workflow_run:
    workflows:
      - "Push Images"
    types:
      - completed
  workflow_dispatch:

jobs:
  clean-up-ghcr:
    name: Clean up docker images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: 'Clean up docker images'
        uses: dataaxiom/ghcr-cleanup-action@main
        with:
          delete-untagged: true
          validate: true
          keep-n-untagged: 0
          token: ${{ secrets.GITHUB_TOKEN }}
