---
name: Schedule - Codeowners
permissions:
  contents: read

on:
  schedule:
    # Runs at 08:00 UTC every day
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  codeowners:
    runs-on: ubuntu-latest
    steps:
      - name: ⤵️ Check out code from GitHub
        uses: actions/checkout@v5

      - name: ✅ GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          github_access_token: "${{ secrets.GITHUB_TOKEN }}"
          checks: "files,duppatterns,syntax"
          experimental_checks: "notowned,avoid-shadowing"